	* {
		margin: 0;
		padding: 0;
		font-family: "Open Sans", sans-serif;
	}

	.container {
		max-width: 1280px;
		padding: 0 15px;
		position: relative;
		margin: 0 auto;
		overflow: hidden;
	}

	.flex-row {
		display: flex;
		flex-wrap: wrap;
		margin: 15px;
	}

	.flex-item {
		padding: 0 15px;
	    flex: 1 0 90%;
	    margin: 15px 0;
	    height: 280px;
	}


	.flex-item p {
		text-align: center;
		color: #fff;
		height: 100%;
		font-size: 150px;
		line-height: 260px;
	}

	h2 {
		font-size: 60px;
		margin-top: 20px;
		text-align: center;
	}

	h3 {
	    font-weight: lighter;
	    text-align: center;
	    margin-top: 40px;
	    font-size: 30px;
	}

	.icon {
		display: block;
		text-align: center;
	}

	.animate {
		position: relative;
		opacity: 0;
	}

	.animate.active {
		opacity: 1;
	}

	.animate:nth-child(3n+1) {
		transition: all .3s ease;
	}

	.animate:nth-child(3n+2) {
		transition: all .6s ease;
	}

	.animate:nth-child(3n+3) {
		transition: all .9s ease;
	}

	.animate:nth-child(3n+1) p {
		background: #3098db;
	}

	.animate:nth-child(3n+2) p {
		background: #30dbbf;
	}

	.animate:nth-child(3n+3) p {
		background: #db304c;
	}

	.fade-in {
		opacity: 0;
	}

	.fade-in.active {
		opacity: 1;
	}

	.grow-up {
		transform: scale(0);
	}

	.grow-up.active {
		transform: scale(1);
	}

	.to-top {
		transform: translate(0, 80px);
	}

	.to-top.active {
		transform: translate(0, 0);
	}

	.to-left {
		transform: translate(-80px, 0);
	}

	.to-left.active {
		transform: translate(0, 0);
	}

	.to-right {
		transform: translate(80px, 0);
	}

	.to-right.active {
		transform: translate(0px, 0);
	}

	.to-bottom {
		transform: translate(0, -80px);
	}

	.to-bottom.active {
		transform: translate(0, 0);
	}

	.diag-left-top {
		transform: translate(80px, 80px);
	}

	.diag-left-top.active {
		transform: translate(0, 0);
	}

	.diag-left-bottom {
		transform: translate(-80px, -80px);
	}

	.diag-left-bottom.active {
		transform: translate(0, 0);
	}

	.animate-perspective {
		perspective: 900px;
	}

	.flip {
		transform: rotateY(90deg);
	}

	.flip.active {
		transform: rotateY(0deg);
	}

	.icon {
		width: 35px;
		margin: auto;
	}

	.icon img {
		width: 100%;
	}

	.icon-down {
		position: relative;
		animation: down 0.7s ease infinite alternate;
	}
	
	@keyframes down {
		0% {
			bottom: 0;
		}
		100% {
			bottom: -30px;
		}
	}

	@media screen and (min-width: 768px) {
		.flex-item {
		    flex: 1 0 46%;
		}
	}

	@media screen and (min-width: 1024px) {
		.flex-item {
		    flex: 1 0 30%;
		}
	}